<% if current_user %>
  <%= current_user.fullname %>
  @<%= current_user.username %>
  <%= partial "partials/peepdisplay" %>
<% else %>
  <%= partial "partials/signin" %>
  <%= partial "partials/signup" %> 
  <a href='/preview'>Preview Chitter</a>
<% end %>

